body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-left: 39%;
}

h1 {
    color: cadetblue;
    margin-left: 6rem;
}
#botao {
    border-radius: 5rem;
    margin-left: 6.3rem;
    background-color: rgb(237, 255, 158);
}

input {
    margin-bottom: .8rem;
}

p {
    margin-left: -38.5%;
    font-weight: lighter;
}